body {
	padding-top: 60px;	
}

ul.nav li a {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;	
}

#shortcuts {
 margin-top: 50px;
}

#shortcuts p {
 margin: 0 auto 30px;
}

#shortcuts p, h3 {
	 text-align: center;
}

#whatwedo {
	margin: auto;
	margin-top: 20px;
	width: 85%;
}

#whatwedo h3 {
	padding-left: 50px;
	padding-right: 50px;
}

.footer {
	background-color: #2c3e50;
	color: #fff;
}

.jumbotron {
	height: 400px;
	background:url(../images/mesh.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding-bottom:0px;
  	margin-bottom:0px;
}

.jumbotron {
	text-align: center;
}

.jumbotron h1 {
	font-size: 120px;
}

#services .page-header {
	margin-top: 0px;
	padding-top: 0px;
}

.title {
	/*margin-top: 100px;*/
	margin-bottom: 100px;
	background-image:url(../images/title.png);
	background-repeat: no-repeat;
	height:100px;
}

.sectionDevider{ 
	height: 50px;
}

.panel.fixedsize {
    height: 400px;
}

.panel-heading.fixedsize {
    height: 70px;
}

.list-group-item.fixedsize {
    height: 66px;
}

.well.contacts {
	height: 314px;
}

.well.contacts {
	text-align: center;
	vertical-align:middle;
}	

.well.contacts h1 {
	line-height: 300px;
	margin:0px;
	padding:0px;
}

.stripe {
	background-color: #2c3e50;
	height: 10px;
	width: 100%;
}

.panel.wwd-right {
	background-color: #c9302c;
	color: white;
}
