audio,canvas,video {
display:inline;
zoom:1;
}

html {
font-size:100%;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}

body {
font-size:13px;
line-height:1.231;
background-color:#fff;
min-width:1000px;
margin:0;
}

body,button,input,select,textarea {
font-family:Helvetica,Arial,sans-serif;
color:#484848;
}

a {
color:#293088;
text-decoration:none;
}

a:hover {
color:#06e;
text-decoration:underline;
}

a:focus {
outline:thin dotted;
}

a:hover,a:active {
outline:0;
}

ul,ol {
margin:1em 0;
padding:0 0 0 40px;
}

dd {
margin:0 0 0 40px;
}

nav ul,nav ol {
list-style:none;
list-style-image:none;
margin:0;
padding:0;
}

img {
border:0;
-ms-interpolation-mode:bicubic;
vertical-align:middle;
}

body * {
-webkit-backface-visibility:hidden;
}

#header #top-bar {
padding:2.3em 0;
}

#header #top-bar .page {
width:1000px;
zoom:1;
margin:auto;
}

#header #logo {
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
float:left;
}

#header .tt {
width:225px;
height:80px;
position:relative;
font-family:da-icons;
font-size:225px;
line-height:59px;
display:block;
overflow:hidden;
}

#header .tt span {
display:block;
position:absolute;
}

#header .tt .logomark-base {
color:#97d5f1;
}

#header .tt .identity-sep {
color:#c9c8c6;
}

#header .tt .tagline {
color:#484848;
}

#header #main-nav {
float:right;
padding:1.1em 0;
}

#header #main-nav li.first-child a {
border:0;
}

#header #hero {
background-color:#f0efee;
height:505px;
overflow:hidden;
position:relative;
}

#header #hero .slideArrow {
position:absolute;
display:none;
z-index:2;
font-size:5em;
font-family:da-icons;
top:200px;
color:#484848;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
opacity:0.5;
cursor:pointer;
-webkit-transition-property:opacity;
-moz-transition-property:opacity;
-o-transition-property:opacity;
transition-property:opacity;
-webkit-transition-duration:.1s;
-moz-transition-duration:.1s;
-o-transition-duration:.1s;
transition-duration:.1s;
-webkit-transition-timing-function:ease-in-out;
-moz-transition-timing-function:ease-in-out;
-o-transition-timing-function:ease-in-out;
transition-timing-function:ease-in-out;
}

#header #hero .slideArrow:hover {
text-decoration:none;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
opacity:0.85;
}

#header #hero #slidePagination {
position:absolute;
bottom:.25em;
list-style:none;
z-index:2;
font-size:5em;
margin:0;
padding:0;
}

#header #hero #slidePagination li {
list-style:none;
vertical-align:auto;
zoom:1;
display:inline;
margin:0;
padding:0;
}

#header #hero #slidePagination li a {
vertical-align:auto;
zoom:1;
display:inline;
text-decoration:none;
color:#bcbcc1;
cursor:pointer;
-webkit-transition-property:color;
-moz-transition-property:color;
-o-transition-property:color;
transition-property:color;
-webkit-transition-duration:.1s;
-moz-transition-duration:.1s;
-o-transition-duration:.1s;
transition-duration:.1s;
-webkit-transition-timing-function:ease-in-out;
-moz-transition-timing-function:ease-in-out;
-o-transition-timing-function:ease-in-out;
transition-timing-function:ease-in-out;
text-shadow:#757cd5 0 -1px 0;
padding:.03em;
}

#header #hero #slidePagination li a:hover {
color:#a2a2a8;
}

#header #hero #slidePagination li.current a {
color:#6d7090;
}

#header #hero .slides {
height:505px;
position:relative;
list-style:none;
margin:0;
padding:0;
}

#header #hero .slides li {
font-family:Helvetica,Arial,sans-serif;
list-style:none;
position:absolute;
height:505px;
zoom:1;
width:1000px;
margin:0;
padding:0;
}

/* Slide Styles */
#header #hero .slides li.slide1{
background:url(../images/pic1.png) right center no-repeat;
}

#header #hero .slides li.slide2 {
background:url(../images/pic3.png) right center no-repeat;
}

#header #hero .slides li.slide3 {
background:url(../images/pic2.png) right center no-repeat;
}

#header #hero .slides li.slide4 {
background:url(../images/pic4.png) right center no-repeat;
}

#header #hero .slides li h1 {
font-weight:400;
color:#293088;
font-size:7em;
line-height:.85em;
letter-spacing:-.04em;
width:50%;
margin-bottom:.25em;
}

#header #hero .slides li.slide2 h1 {
font-size:9em;
}

#header #hero .slides li.slide3 h1 {
font-size:8em;
}

#header #hero .slides li h1 small {
color:#484848;
font-family:Helvetica,Arial,sans-serif;
font-size:.32em;
display:block;
letter-spacing:.02em;
line-height:1.85em;
}

#header #hero .slides li .cta {
background-color:#293088;
background-image:linear-gradient(#293088,#1d2261);
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
vertical-align:auto;
zoom:1;
display:inline;
color:#fff;
font-size:1.95em;
padding:.8em 1.35em;
}

#header #hero .slides li .cta:hover {
background-color:#353eaf;
background-image:linear-gradient(#353eaf,#293088);
text-decoration:none;
}

7% {
background-color:#1d2261;
}

100% {
background-color:rgba(29,34,97,0);
}

#main {
font-size:1.2em;
line-height:1.95em;
}

#main .heading,#main #who-we-are h1,#main #what-we-do h1 {
font-weight:400;
text-transform:uppercase;
font-family:Helvetica,Arial,sans-serif;
font-size:2.15em;
letter-spacing:.13em;
}

#main #who-we-are {
zoom:1;
color:#fff;
background-color:#293088;
background-image:linear-gradient(#232976,#30389b);
}

#main #who-we-are .page {
width:1000px;
margin:5em auto;
}

#main #who-we-are h2 {
color:#9da3f0;
font-weight:400;
font-size:1.8em;
line-height:1.4em;
}

#main #who-we-are ul.members {
zoom:1;
list-style:none;
margin-left:-15px;
padding:0;
}

#main #who-we-are ul.members li {
float:left;
width:460px;
height:440px;
position:relative;
list-style:none;
margin-left:15px;
margin-top:10px;
font-size:.95em;
-webkit-border-radius:7px;
-moz-border-radius:7px;
-ms-border-radius:7px;
-o-border-radius:7px;
border-radius:7px;
line-height:1.8em;
background-color:rgba(29,34,97,0);
padding:1em;
}

#main #who-we-are ul.members li.attention {
-webkit-animation:flash-background 3s;
-moz-animation:flash-background 3s;
-ms-animation:flash-background 3s;
-o-animation:flash-background 3s;
animation:flash-background 3s;
-webkit-animation-timing-function:ease-in;
-moz-animation-timing-function:ease-in;
-ms-animation-timing-function:ease-in;
-o-animation-timing-function:ease-in;
animation-timing-function:ease-in;
background-color:rgba(29,34,97,0);
}

#main #who-we-are ul.members li#about-carey-law-group p.action a {
left:20px;
width:255px;
}

#main #who-we-are ul.members li#about-carey-law-group p.action a:hover {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
opacity:0.4;
}

#main #who-we-are ul.members li p.action a {
display:block;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
font-family:da-icons;
text-align:center;
position:absolute;
bottom:1em;
border:2px solid #30389b;
color:#9da3f0;
background-color:#202569;
-webkit-transition-property:background-color,opacity;
-moz-transition-property:background-color,opacity;
-o-transition-property:background-color,opacity;
transition-property:background-color,opacity;
-webkit-transition-duration:.2s;
-moz-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
-webkit-transition-timing-function:ease-in-out;
-moz-transition-timing-function:ease-in-out;
-o-transition-timing-function:ease-in-out;
transition-timing-function:ease-in-out;
padding:.2em .8em;
}

#main #who-we-are ul.members li p.action a {
left:20px;
}

#main #who-we-are ul.members li p.action a em {
font-family:Georgia,"Times New Roman",Times,serif;
font-size:1.05em;
}

#main #who-we-are ul.members li p.action a:hover {
text-decoration:none;
background-color:#1b1f59;
}

#main #who-we-are ul.members li h3 {
color:#9da3f0;
font-weight:400;
text-align:center;
font-size:1.35em;
}

#main #who-we-are ul.members li .icon {
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
color:#fff;
display:block;
text-align:center;
margin:25px 0 45px;
}

#main #who-we-are ul.members li .icon.tt {
font-family:da-icons;
font-size:110px;
}

#main #who-we-are ul.members li a.icon:hover {
text-decoration:none;
color:#d7d9f3;
}

#main #what-we-do .page {
zoom:1;
width:1000px;
background:url(../images/pic1.png) 90% top no-repeat;
margin:auto;
}

#main #what-we-do .intro {
width:45%;
margin:5em 0;
}

#main #what-we-do ul {
font-size:.94em;
line-height:1.7em;
list-style:none;
margin:2em 0 2em -35px;
padding:0;
}

#main #what-we-do ul li {
list-style:none;
margin:0;
padding:0;
}

#main #what-we-do ul li ul {
float:left;
width:220px;
margin-left:35px;
}

#main #what-we-do ul li ul li {
background:url(../images/bullet.png) no-repeat 9px 12px;
padding:.4em .4em .4em 1.5em;
}

#main #what-we-do ul li ul li.hovered {
color:#4f559f;
cursor:pointer;
background-color:#eaeaf4;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
}

#getInTouch {
background-color:#293088;
background-image:linear-gradient(#30389b,#232976);
-webkit-border-radius:7px;
-moz-border-radius:7px;
-ms-border-radius:7px;
-o-border-radius:7px;
border-radius:7px;
color:#fff;
font-size:1.1em;
text-align:center;
margin:4em 0;
padding:2em 1.75em;
}

#getInTouch h2 {
color:#c3c6ed;
font-family:Helvetica,Arial,sans-serif;
font-size:1.4em;
letter-spacing:.075em;
text-transform:uppercase;
text-align:center;
margin-top:0;
margin-bottom:0;
}

#getInTouch ul {
font-family:Helvetica,Arial,sans-serif;
list-style:none;
font-size:1.4em;
margin:0;
padding:0;
}

html.js #getInTouch ul label {
color:#a1a1a1;
font-size:17px;
padding:15px 21px;
}

#getInTouch ul.fields input {
font-size:17px;
width:188px;
margin:10px;
padding:8px 11px;
}

#getInTouch ul li {
float:left;
position:relative;
}

#getInTouch ul li label {
z-index:1;
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
}

#getInTouch .button {
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
background-color:#97d5f1;
-webkit-box-shadow:0 2px rgba(0,0,0,0.75);
-moz-box-shadow:0 2px rgba(0,0,0,0.75);
box-shadow:0 2px rgba(0,0,0,0.75);
background-image:linear-gradient(bottom,#87cfef,#a7dcf3);
border:0;
color:#fff;
font-family:Helvetica,Arial,sans-serif;
text-shadow:rgba(0,0,0,0.3) -1px -1px 0;
font-size:1.25em;
cursor:pointer;
margin:.5em 1em;
padding:.75em 1.05em;
}

#getInTouch .button:hover {
background-image:linear-gradient(bottom,#71c6ec,#91d3f0);
}

#getInTouch #contactMessage #messageField textarea {
font-size:17px;
width:95%;
margin:10px;
padding:8px 11px;
}

#getInTouch #response {
margin:1em;
}

.tooltip {
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
position:absolute;
pointer-events:none;
z-index:1;
top:0;
left:0;
-webkit-backface-visibility:hidden;
-webkit-transform-origin:98.33333px 0 -98.33333px;
-moz-transform-origin:98.33333px 0 -98.33333px;
-ms-transform-origin:98.33333px 0 -98.33333px;
-o-transform-origin:98.33333px 0 -98.33333px;
transform-origin:98.33333px 0 -98.33333px;
-webkit-transform:rotate3d(1,-0.3,0.5,-20deg);
-moz-transform:rotate3d(1,-0.3,0.5,-20deg);
-ms-transform:rotate3d(1,-0.3,0.5,-20deg);
-o-transform:rotate3d(1,-0.3,0.5,-20deg);
transform:rotate3d(1,-0.3,0.5,-20deg);
list-style:none;
-webkit-transition-property:0;
-moz-transition-property:0;
-o-transition-property:0;
transition-property:transform,width,opacity;
-webkit-transition-duration:.2s;
-moz-transition-duration:.2s;
-o-transition-duration:.2s;
transition-duration:.2s;
-webkit-transition-timing-function:cubic-bezier(0,0,0,1);
-moz-transition-timing-function:cubic-bezier(0,0,0,1);
-o-transition-timing-function:cubic-bezier(0,0,0,1);
transition-timing-function:cubic-bezier(0,0,0,1);
margin:0;
padding:0;
}

html:not(.oldie) .tooltip {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity:0;
}

.tooltip.animate-position {
-webkit-transition-property:all;
-moz-transition-property:all;
-o-transition-property:all;
transition-property:all;
}

html:not(.oldie) .tooltip.enter {
-webkit-transform:rotate3d(1,1,1,0deg);
-moz-transform:rotate3d(1,1,1,0deg);
-ms-transform:rotate3d(1,1,1,0deg);
-o-transform:rotate3d(1,1,1,0deg);
transform:rotate3d(1,1,1,0deg);
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity:1;
}

.tooltip.leave {
-webkit-transform:rotate3d(-1,0.3,0.75,10deg);
-moz-transform:rotate3d(-1,0.3,0.75,10deg);
-ms-transform:rotate3d(-1,0.3,0.75,10deg);
-o-transform:rotate3d(-1,0.3,0.75,10deg);
transform:rotate3d(-1,0.3,0.75,10deg);
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity:0;
}

.tooltip dd {
list-style:none;
display:block;
width:0;
height:0;
border-color:#505050 transparent transparent;
border-style:solid;
border-width:10px;
margin:auto;
padding:0;
}

.tooltip dt {
list-style:none;
display:block;
background-color:#505050;
height:62px;
background-image:linear-gradient(rgba(108,108,108,0.9),rgba(80,80,80,0.9));
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.7);
-moz-box-shadow:0 2px 2px rgba(0,0,0,0.7);
box-shadow:0 2px 2px rgba(0,0,0,0.7);
zoom:1;
vertical-align:center;
margin:0;
padding:0;
}

.tooltip dt span {
font-family:da-icons;
overflow:hidden;
height:40px;
color:#fff;
float:left;
font-size:0;
line-height:40px;
-webkit-transition:all .2s ease-out;
-moz-transition:all .2s ease-out;
-o-transition:all .2s ease-out;
transition:all .2s ease-out;
}

html.lteie9 .tooltip dt span {
width:75px;
display:none;
padding:10px;
}

html:not(.lteie9) .tooltip dt span {
width:0;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity:0;
display:block;
padding:0;
}

.tooltip dt span:first-child {
border-left:none;
}

.tooltip dt span:last-child {
border-right:none;
}

#footer #footer-upper .page nav {
padding:2.5em 0;
}

#footer #footer-upper .page nav li.first-child a {
border:0;
padding-left:0;
}

#footer #footer-lower {
background-color:#f0efee;
}

#footer #footer-lower .page {
width:1000px;
margin:auto;
padding:6.2em 0;
}

#footer #footer-lower .page small {
font-size:1.025em;
}

#toTop {
position:fixed;
display:block;
top:1em;
pointer-events:none;
font-family:da-icons;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity:0;
z-index:3;
right:1em;
font-size:2em;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
background-color:#bcbcc1;
color:#4048a4;
-webkit-transition-property:color,background-color,opacity;
-moz-transition-property:color,background-color,opacity;
-o-transition-property:color,background-color,opacity;
transition-property:color,background-color,opacity;
-webkit-transition-duration:.1s;
-moz-transition-duration:.1s;
-o-transition-duration:.1s;
transition-duration:.1s;
-webkit-transition-timing-function:ease-in-out;
-moz-transition-timing-function:ease-in-out;
-o-transition-timing-function:ease-in-out;
transition-timing-function:ease-in-out;
-webkit-animation:fade-to-zero .5s;
-moz-animation:fade-to-zero .5s;
-ms-animation:fade-to-zero .5s;
-o-animation:fade-to-zero .5s;
animation:fade-to-zero .5s;
padding:.2em .35em .25em;
}

#toTop:hover {
text-decoration:none;
}

#toTop.visible {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
opacity:0.6;
pointer-events:auto;
}

#toTop.visible:hover {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity:1;
color:#3e448c;
}

.hidden {
display:none!important;
visibility:hidden;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,html.oldie .tooltip.enter,html.lteie9 .tooltip.mainstream dt span.mainstream,html.lteie9 .tooltip.optimo dt span.optimo,html.lteie9 .tooltip.carey dt span.carey {
display:block;
}

audio:not([controls]),[hidden],#getInTouch #response.empty,html.oldie .tooltip {
display:none;
}

#header,#footer #footer-upper {
background-color:#e2e1df;
}

#header #top-bar .page:before,#header #top-bar .page:after,#header #hero .slides li:before,#header #hero .slides li:after,#main #who-we-are:before,#main #who-we-are:after,#main #who-we-are ul.members:before,#main #who-we-are ul.members:after,#main #what-we-do .page:before,#main #what-we-do .page:after,#getInTouch ul.fields:before,#getInTouch ul.fields:after,.tooltip dt:before,.tooltip dt:after,.clearfix:before,.clearfix:after {
content:"";
display:table;
}

#header #top-bar .page:after,#header #hero .slides li:after,#main #who-we-are:after,#main #who-we-are ul.members:after,#main #what-we-do .page:after,#getInTouch ul.fields:after,.tooltip dt:after,.clearfix:after {
clear:both;
}

#header .tt .logomark-top,#header .tt .signature {
color:#293088;
}

#header #main-nav li,#footer #footer-upper .page nav li {
zoom:1;
display:inline;
vertical-align:top;
}

#header #main-nav li a,#footer #footer-upper .page nav li a {
vertical-align:auto;
zoom:1;
display:inline;
text-transform:uppercase;
font-family:Helvetica,Arial,sans-serif;
font-size:1.25em;
letter-spacing:.1em;
border-left:1px solid #c9c8c6;
background-image:url(../images/nav-indicator.png);
background-repeat:no-repeat;
background-position:center 120%;
-webkit-transition-property:background-position,padding-top,padding-bottom;
-moz-transition-property:background-position,padding-top,padding-bottom;
-o-transition-property:background-position,padding-top,padding-bottom;
transition-property:background-position,padding-top,padding-bottom;
-webkit-transition-duration:.1s;
-moz-transition-duration:.1s;
-o-transition-duration:.1s;
transition-duration:.1s;
-webkit-transition-timing-function:ease-in-out;
-moz-transition-timing-function:ease-in-out;
-o-transition-timing-function:ease-in-out;
transition-timing-function:ease-in-out;
padding:.75em 1.6em;
}

#header #main-nav li a:hover,#footer #footer-upper .page nav li a:hover {
color:#293088;
text-decoration:none;
background-position:center 100%;
padding-top:.25em;
padding-bottom:1em;
}

#header #hero *,.tooltip * {
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
}

#main #who-we-are ul.members li#about-mainstream p.action a,#main #who-we-are ul.members li#about-optimo p.action a {
left:125px;
}

#contact-us,#footer #footer-upper .page {
width:1000px;
margin:auto;
}

#getInTouch p,#getInTouch #contactMessage {
margin:.5em 0;
}

#getInTouch ul.fields,.clearfix {
zoom:1;
}

.tooltip.leave.mainstream dt span.mainstream,.tooltip.leave.optimo dt span.optimo,.tooltip.leave.carey dt span.carey {
width:0;
}

.tooltip.mainstream dt span.mainstream,.tooltip.optimo dt span.optimo,.tooltip.carey dt span.carey {
font-size:75px;
}

html:not(.lteie9) .tooltip.mainstream dt span.mainstream,html:not(.lteie9) .tooltip.optimo dt span.optimo,html:not(.lteie9) .tooltip.carey dt span.carey {
width:75px;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity:1;
padding:10px;
}

::selection,::-moz-selection {
background:#70c2e7;
}

@media screen and min-width 1280px {
#header #hero .slideArrow {
display:block;
}
}