html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin-bottom: 30px;
  font-size:4.5em;
  font-weight: 700;
}


ul.nav li a {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;	
}

#shortcuts {
 margin-top: 50px;
}

#shortcuts p {
 margin: 0 auto 30px;
}

#shortcuts p, h3 {
	 text-align: center;
   padding-bottom: 0px;
   padding-top: 0px;
}

#whatwedo {
	margin: auto;
	margin-top: 20px;
	width: 85%;
}

#whatwedo h3 {
	padding-left: 50px;
	padding-right: 50px;
}

.footer {
	background-color: #2c3e50;
	color: #fff;
	padding: 15px;
}

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
	text-align: center;
	color: #ffffff;
}

.header h1 {
	font-size: 120px;
}

.header h2 {
  margin-bottom: 200px;
}

#services .page-header {
	margin-top: 0px;
	padding-top: 0px;
}

.title {
	/*margin-top: 100px;*/
	margin-bottom: 100px;
	background-image:url(../images/title.png);
	background-repeat: no-repeat;
	height:100px;
}

.sectionDevider{ 
	height: 50px;
}

.panel.fixedsize {
    height: 400px;
}

.panel-heading.fixedsize {
    height: 70px;
}

.list-group-item.fixedsize {
    height: 66px;
}

.well.contacts {
	height: 314px;
}

.well.contacts {
	text-align: center;
	vertical-align:middle;
}	

.well.contacts h1 {
	line-height: 300px;
	margin:0px;
	padding:0px;
}

.stripe {
	background-color: #2c3e50;
	height: 10px;
	width: 100%;
}

.panel.wwd-right {
	background-color: #c9302c;
	color: white;
}

.privacypolicy div.page-header h1 {
	margin-top: 30px;
	font-size: 17px;
	font-weight: bold;
}

.privacypolicy h5{
	font-size: 17px;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.layer1 {
	color: 2c3e50;
	text-align: justify;
}

.privacytext h5{
	ont-size: 17px;
}

.sidenav {
	margin-top: 40px;
	font-size: 17px;
}

.layertext h4 {
	text-align: justify;
	padding: 15px;
}

.gap {
	margin-top: 50px;
}

.getInTouch {
	padding: 10px;
	height: 300px;
}

.getInTouch div.info {
  margin-top: 100px;
}

