body {
	padding-top: 50px;	
}

.jumbotron {
	height: 400px;
	background:url(../images/mesh.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding-bottom:0px;
  	margin-bottom:0px;
}

.jumbotron {
	text-align: center;
}

#services .page-header {
	margin-top: 0px;
	padding-top: 0px;
}

.title {
	/*margin-top: 100px;*/
	margin-bottom: 100px;
	background-image:url(../images/title.png);
	background-repeat: no-repeat;
	height:100px;
}

.sectionDevider{ 
	height: 50px;
}

.panel.fixedsize {
    height: 400px;
}

.panel-heading.fixedsize {
    height: 70px;
}

.list-group-item.fixedsize {
    height: 66px;
}

.well.contacts {
	height: 314px;
}

.well.contacts {
	text-align: center;
	vertical-align:middle;
}	

.well.contacts h1 {
	line-height: 300px;
	margin:0px;
	padding:0px;
}