html, body {
	height: 100%;
	width: 100%;
}

body {
	background: #fff;
	padding: 20px;
}

.privacypolicy h5 {
	font-size: 18px;
}

.privacypolicy div.page-header h1 {
	margin-top: 30px;
	font-size: 17px;
	font-weight: bold;
}

.privacy_info {
	height:30%;
}

.privacy_text_container {
	height: 60%;
}

.privacy_text_nav ul {
	list-style-type: none;
	padding-left: 5px;
}

.privacy_text_nav ul li {
	padding-bottom: 2px;
}

.privacy_text {
	text-indent: justify;
	height: 100%;
	overflow-y: scroll;
}

.privacy_text h4 {
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;	
}

.highlight {
	background: #18bc9c;
}

.icon-description {
	font-size: 1.2em;
}

.row {
	margin-bottom: 1.2em;
}

body.video {
	display: table;
}

body.video .container {
	display: table-cell;
	vertical-align: middle;
}

.video-video {
	maring: auto;
}